<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="shortcut icon"
      href="/images/logo-dark.png"
      type="image/x-icon"
    />
    <style>
      .loader {
        width: 50px;
        aspect-ratio: 1;
        box-shadow: 0 0 0 3px #fff inset;
        border-radius: 50%;
        position: relative;
        animation: l6 1.5s linear infinite;
      }
      .loader:before {
        content: "";
        position: absolute;
        top: 100%;
        box-shadow: inherit;
        width: 25px;
        aspect-ratio: 1;
        border-radius: 50%;
      }
      @keyframes l6 {
        to {
          transform: rotate(360deg);
        }
      }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/hero.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script>
        // animated background
      function createStars() {
        const starCount = 200;
        const stars = document.querySelector(".stars");

        for (let i = 0; i < starCount; i++) {
          const star = document.createElement("div");
          star.classList.add("star");
          star.style.left = `${Math.random() * 100}%`;
          star.style.top = `${Math.random() * 100}%`;
          star.style.animationDuration = `${1 + Math.random() * 10}s`;
          stars.appendChild(star);
        }
      }

      document.addEventListener("DOMContentLoaded", function () {
        createStars();
      });
    </script>
  </head>
  <body>
    <div class="load-container">
        <h1>For the optimal experience, please use headphones.</h1>
      <div class="loader"></div>
      <audio id="preloadAudio">
        <source src="/audio/start.mp3" type="audio/mp3">
      </audio>
      
      <a class="control-btn" onclick="hideloader()">Understood</a>
    </div>

    <section class="hero">
      <div class="hero-nav">
        <img src="/images/logo.png" alt="moon" />
        <h1 id="title">Moon Quakes</h1>
      </div>
      <div class="hero-moon">
        <img
          src="/images/moon-website-export_0014_center-moon.png"
          alt="moon"
        />
      </div>
      <div class="hero-button">
        <a href="" class="control-btn">Skip</a>
        <a href="#s1" class="control-btn">Proceed</a>
      </div>
      <div class="stars"></div>
    </section>

    <section class="story" id="s1">
      <div id="puce">
        <img
          src="/images/moon-website-export_0000_star.png"
          alt="star"
          height="60px"
          width="60px"
        />
        <img src="/images/moon-website-export_0002_lines-copy.png" alt="line" />
      </div>
      <div id="container-title-story">
        <div id="title-story">
          <div>
            <img
              src="/images/moon-website-export_0001_line-horizontal.png"
              alt="sep"
            />
          </div>
          <h1>Test</h1>
        </div>
        <p id="typewriter-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt autem
          minima enim omnis nihil temporibus, quod, quaerat ipsam a deleniti
          aspernatur facere quas saepe perspiciatis esse, officia ut quam
          asperiores. Sapiente, ipsum quas suscipit consequuntur, veniam odio
          harum doloribus ea, officiis saepe ex laboriosam. Sed, obcaecati dicta
          facilis aut qui, voluptates soluta itaque nisi reiciendis placeat
          fugiat fugit odio quidem. Quam aliquid provident alias ex modi in
          animi est maiores distinctio architecto, rerum ad ipsam voluptatibus
          hic saepe! Nostrum tempora ad ab architecto molestiae reiciendis eaque
          voluptates tenetur. Corrupti, quia?
        </p>
      </div>
      <div id="d-right">
        <img
          src="/images/moon-website-export_0006_astronaut.png"
          class="wiggle"
          alt="astronaut"
        />
      </div>
    </section>

    <script>
      

      // Function to start the typewriter effect
      function startTypewriterEffect() {
        const text = document.getElementById("typewriter-text").innerText;
        const cursor = document.createElement("span");
        cursor.className = "cursor";
        document.getElementById("typewriter-text").innerText = "";
        document.getElementById("typewriter-text").appendChild(cursor);

        let i = 0;

        function typeWriter() {
          if (i < text.length) {
            const char = text.charAt(i);
            const delay = char === "\n" ? 1000 : 20; // Adjust delay for line breaks
            cursor.style.display = "inline";
            cursor.insertAdjacentHTML("beforebegin", char);
            i++;
            setTimeout(function () {
              typeWriter();
            }, delay);
          } else {
            cursor.style.display = "none"; // Hide the cursor when typing is complete
          }
        }

        typeWriter();
      }

      // Intersection Observer to start the animation when the paragraph is in the viewport
      const paragraph = document.getElementById("typewriter-text");

      const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            startTypewriterEffect(); // Start animation when in viewport
            observer.unobserve(entry.target); // Stop observing once animation starts
          }
        });
      });

      // Start observing the paragraph
      observer.observe(paragraph);
      
      var audio = document.getElementById("preloadAudio");

      function hideloader() {
        //play audio
        audio.play();
        
        const element = document.querySelector(".load-container");

element.style.transition = 'opacity 0.5s ease';
element.style.opacity = '0';
setTimeout(_=>{
    element.style.display = 'none';

}, 500);
      }
    </script>
  </body>
</html>
