<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <title><%= title %></title>
</head>
<body>
    <h1>Welcome to <%= title %></h1>
    <p>This is another page in your EJS application.</p>
    <a href="/">Go Back to Home Page</a>
</body>
</html>
