body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /*background-image: url("/images/moon-website-export_0016_bg.png");*/
    background-color: black;
    background-repeat: no-repeat;
    position: relative;
}
html {
    scroll-behavior: smooth;
}

.load-container{
    color: #fff;
    background: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}
.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background: #fff;
    opacity: 0;
    animation: twinkle 10s infinite;
}

@keyframes twinkle {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hero{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title{
    color: #fff;
    font-weight: 100;
    font-size: 2rem;
}
.hero-nav{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    top: 0;
}
.hero-nav > img{
    height: 2.5rem;
    aspect-ratio: 1/1;
}
.hero-moon{
    height: 70%;
}

.hero-button{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
}
.hero-moon > img{
    height: 90vh;
    aspect-ratio: 1/1;
}

.control-btn {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    opacity: 0.6;
    background-color: #fff;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    min-width: 150px;
    transition: .2s ease-in-out;
    z-index: 2;
    clip-path: polygon(
  0 0,       /* top-left corner */
  calc(100% - .5em) 0, /* top-right corner */
  100% .5em,    /* top-right curve start */
  100% 100%,    /* bottom-right corner */
  .5em 100%,     /* bottom-right curve end */
  0% calc(100% - .5em) /* bottom-left corner */
);
}

.control-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
    opacity: 1;
}



.story{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

#s1{
    background-image: url("/images/moon-website-export_0015_moon-(merged).png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}

#s2{
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px; 
}

#puce{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 0 20px;
}

#s2 > div {
    display: flex;
    flex-direction: row;
}

#s2 div div{
    height: 100%;
    width: 100%;
    padding: 40px 40px 0 40px;
}

#s2 div div:first-child {
    background-image: url("/images/moon-website-export_0014_center-moon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#s2 div div:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#container-title-story{
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}
#container-title-story > p{
    font-weight: 500;
    padding-left: 45px;
}
#title-story{
    display: flex;
    font-size: 2rem;
}

#typewriter-text {
    overflow: hidden;
    white-space: wrap;
    font-size: 1.5rem;
}
.cursor {
    border-right: .15em solid #777;
    display: none; /* Hide the cursor initially */
    animation: blink-caret .75s step-end infinite;
}


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#d-right{
    position: relative;
    width: 30%;
    flex-grow: 1;
}



#d-right > img:first-child {
    position: absolute;
    height: 700px;
    right: 0px;
    top: -437px;
}

.wiggle {
    transition: transform 0.3s ease-in-out;
    animation: wiggle-animation 10s ease-in-out infinite;
}

@keyframes wiggle-animation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

table{
    width: 100%;
}

tr {
    display: inline-table;
    width: 100%;
    padding: 20px 0;
}

tr > td:first-child {
    width: 75%;
}

tr > td:last-child {
    width: 25%;
}