body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("/images/moon-website-export_0016_bg.png");
    background-repeat: no-repeat;
}
html {
    scroll-behavior: smooth;
}

.hero{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title{
    color: #fff;
    font-weight: 100;
    font-size: 2rem;
}
.hero-nav{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    top: 0;
}
.hero-nav > img{
    height: 2.5rem;
    aspect-ratio: 1/1;
}
.hero-moon{
    height: 70%;
}

.hero-button{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
}
.hero-moon > img{
    height: 90vh;
    aspect-ratio: 1/1;
}

.control-btn{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    border: 3px solid #fff;
    padding: 10px;
    border-radius: 0 20px 0 20px;
    transition: .2s ease-in-out;
    z-index: 999;
}

.control-btn:hover{
    border-radius: 20px 0 20px 0;
    scale: 1.05;
    border-color: #777777;
}

.story{
    width:100%;
    height:100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    position: relative;
}

#s1{
    background-image: url("/images/moon-website-export_0015_moon-(merged).png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}

#puce{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 0 20px;
}

#container-title-story{
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
#container-title-story > p{
    font-weight: 500;
    padding-left: 45px;
}
#title-story{
    display: flex;
    font-size: 2rem;
}

#typewriter-text {
    overflow: hidden;
    white-space: wrap;
    font-size: 1.5rem;
}
.cursor {
    border-right: .15em solid #777;
    display: none; /* Hide the cursor initially */
    animation: blink-caret .75s step-end infinite;
}


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#d-right{
    position: relative;
    width: 30%;
    flex-grow: 1;
}



#d-right > img:first-child {
    position: absolute;
    height: 700px;
    right: 0px;
    top: -437px;
}